* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#listContainer {
  display: flex;
  width: 100%;
  border-top: 1px solid rgb(0, 0, 0, 0.2);
}

#listContainer ul {
  min-width: 190px;
  width: 100%;
  counter-reset: locker-count;
  list-style-type: none;
  position: relative;
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: auto;
  padding-top: 20px;
  font-size: 30px;
  color: white;
  background-color: hsl(0, 0%, 13%);
  font-family: "Bebas Neue", sans-serif;
}

#listContainer ul:last-child {
  border-right: 0px;
}

.listItems:first-child {
  margin-top: 20px;
}

.listItems {
  color: rgb(0, 122, 255);
  font-size: 15px;
  background-color: transparent;
  box-shadow: 0px 0px 3px 0px rgb(90, 200, 250);
  border: 2px solid transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 170px;
  height: 30px;
  margin: 5px;
}

.listItems::before {
  counter-increment: locker-count;
  content: counter(locker-count);
  background-color: rgb(52, 199, 89);
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  letter-spacing: -1px;
  top: -6px;
  left: -8px;
}

.locker-text {
  color: rgb(52, 199, 89);
  font-size: 14px;
  letter-spacing: -1px;
  cursor: default;
}

#messageBoard {
  width: 99%;
  height: 25vh;
  border: 1px solid rgb(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.message {
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
}

.message-left {
  animation: animate-left 0.7s linear;
  overflow: hidden;
}

@keyframes animate-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.message-grow {
  animation: animate-grow 1.5s linear;
}

@keyframes animate-grow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.message-top-down {
  transform-origin: 50% 0;
  animation: animate-top-down 0.7s linear;
}

@keyframes animate-top-down {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.message-bottom-up {
  animation: animate-bottom-up 0.7s linear;
  overflow: hidden;
}

@keyframes animate-bottom-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.message-opacity {
  animation: animate-opacity 1.5s linear;
}

@keyframes animate-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
